<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
    <h2>Related Products</h2>
    <% products.forEach( (x, i) => { %>
        <a href="/<%=x.id%>"><%= x.name %></a>
    <% }) %>
</body>
</html>