<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventory Tracker</title>
</head>
<body>
    <h2>Inventory Dashboard</h2>
    <form action="/newcategory" method="GET">
        <button type="submit">New Category</button>
    </form>
    <% categories.forEach( (x, i) => { %>
        <a href="/<%=x.category%>"><%= x.category %></a>
    <% }) %>
</body>
</html>