<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Category</title>
</head>
<body>
    <h2>Create a new inventory category</h2>
    <form action='/create-category' method="POST">
        <label for="category">Category:</label>
        <input type="text" name="category">
        <button type="submit">Submit</button>
    </form>
</body>
</html>